section {
    background-color: #ffff;
    height: calc(100vh - 64px);
    display: flex;
}

section .sidemenu  {
    width: 180px;
    max-width: 180px;
    border-right: 2px solid #e2e8f0;
    height: 100%;
    padding: 0 8px;
}

section .content {
    flex: 1;
}